@charset 'utf-8';

/* ========== default ========== */
/* html { box-sizing: border-box } -> Box size includes margin, border, padding, and element. */
/* html { font-size: 16px } -> Set root font size. */
html { box-sizing: border-box; font-size: 16px; scroll-behavior: smooth; }

/* body { min-height: 100vh } -> Set minimum height of body to 100% viewport height. It also fixes a bug where the top part getting cropped with small screen sizes. */
/* body { scroll-behavior: smooth; } -> For smooth scrolling animation when jungming to a different element on the same page. */
/* body { text-rendering: optimizeSpeed } ->  Emphasize rendering speed over legibility and geometric precision. */
/* body { line-height: 1 } -> Set text line-height to 1. */
body { min-height: 100vh; text-rendering: optimizeSpeed; line-height: 1.5; }

/* *, *::before, *::after { box-sizing: inherit; } -> Inherits box-sizing value from html. */
/* *, *::before, *::after { margin: 0; padding: 0; } -> Set margin and padding to zero to all elements. */
*, *::before, *::after { box-sizing: inherit; margin: 0; padding: 0; }

/* img { max-width: 100%; } -> An image will scale down if it has to, but never scale up to be larger than its original size. */
/* img { height: auto; } -> Keeps an image responsive. */
/* img { display: block; } -> Removes a white space below an image. */
img { max-width: 100%; height: auto; display: block; }

/* Removes default list styles on <ul> and <ol> with classes. */
ul[class], ol[class] { list-style: none; }

/* Removes a border line around fieldset element. */
fieldset { border: none; }

/* stop all animations and transitions on resizing */
.resize-animation-stopper * { animation: none !important; transition: none !important; }

/* hide elements for accessibility (a11y) */
.a11y-hidden { clip: rect(0 0 0 0); clip-path: inset(50%); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px; }
.a11y-hidden-02 { overflow: hidden; position: absolute; clip: rect(0,0,0,0); width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; }