@charset 'utf-8';

/* ====================
[links]
======================= */
@import url('default.css');


/* ====================
[variables]
======================= */
:root {
    --black: rgba(20, 20, 20, 1);
    --grey: rgba(179, 179, 179);
}


/* ====================
[modules]
======================= */


/* ====================
[layouts & styles]
======================= */
/* global */
html { font-family: Arial; }
body { color: var(--black); display: flex; justify-content: center; align-items: center; }

/* carousel */
.carousel-container { width: 100%; max-width: 1000px; margin: 0 auto; padding: 1rem; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.carousel-wrapper { width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 1rem; }
.carousel-img-container { width: 100%; border-radius: 10px; margin: 0 1rem; position: relative; overflow: hidden; cursor: grab; will-change: transform; }
.carousel-img { width: 100%; position: absolute; top: 0; object-fit: cover; object-position: center; user-select: none; border-radius: 10px; }
.carousel-img:active { cursor: grabbing; }
.carousel-img--transition { transition: transform 0.3s ease-in-out; }
.carousel-btn { border: none; outline: none; background-color: transparent; cursor: pointer; transition: transform 0.1s ease-in-out; }
.carousel-btn:active { transform: scale(2); }
.carousel-btn-icon { font-size: 2rem; color: var(--black); }
.carousel-indicator-container { display: flex; }
.carousel-indicator { border: none; outline: none; background-color: var(--grey); width: 10px; height: 10px; border-radius: 50%; cursor: pointer; transition: transform 0.1s ease-in-out; }
.carousel-indicator:not(:first-of-type) { margin-left: 0.5rem; }
.carousel-indicator--active { background-color: var(--black); }
.carousel-indicator:active { transform: scale(2); }

@media only screen and (min-width: 700px) {
    .carousel-wrapper { margin-bottom: 1.5rem; }
    .carousel-img-container { margin: 0 1.5rem; }

};